* {
    box-sizing: border-box;
}

#log-div {
    width: 50%;
}

table {
    width: 100%;
    border-spacing: 0;
    border-radius: 1em;
    overflow: hidden;

    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #ddd;
    margin-top: 5px;
}

thead {
    position: relative;
    width: 0;
    height: 0;

    visibility: visible;
    position: relative;
}

th {
    background: #215A8E;
    color: #fff;

    text-align: center;
    /*text-transform: uppercase;*/
    font-size: .9em;
}

tr {
    display: table-row;
    border: none;
    border-radius: 0;
    text-align: center;
}

td {
    display: table-cell;
    position: relative;
}

tr:nth-child(even) {
    background-color: #ddd;

}

tr:nth-child(odd) {
    background-color: #fff;
}

th, td {
    padding: 5px;
}

.edit-btn {
    background: url(images/edit.svg) no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.confirm-edit-btn {
    background: url(images/confirm.svg) no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.cancel-edit-btn {
    background: url(images/cancel.svg) no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.download-btn {
    background: url(images/download.svg) no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    cursor: pointer;
    float:right;
    margin-top: 2px;
    margin-right: 5px;
    position: relatve;
}
